@import 'Mixins.scss';

$bgColor: rgb(41, 38, 38);
$aColor: rgb(236, 66, 66);
$selectCursor: pointer;
$white: white;

// Whole Page Elements
* {
  background: $bgColor;
  font-family: Georgia, sans-serif;
}

h1{
  color: $aColor;
  margin-left: 15px;
  text-transform: uppercase;
}

.input-field {
  @include input-field($white, 1px solid gray);
  @include size(25px, 250px);
  @include font(15px, 700);
  border-radius: 2px;
  margin: 5px 5px 10px 100px;
  color: $aColor;

  &:focus{
    outline: 0;
  }
}

// Book Library

.add-button, .search-button {
  @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
  @include size(28px, null);
  @include font(13px, 700);
  border-radius: 5px;
  margin-left: 5px;

  &:focus{
    outline: 0;
  }
  

  &:hover {
    cursor: $selectCursor;
    @include hover($white, rgb(41, 38, 38), 2px solid white);
    transition:  background 0.5s linear, color 0.15s linear;
  }
}

.library {
    ol {
        list-style: none;
        padding-left: 15px;
    }
}

.library-book {
  @include font(20px, normal);
  margin-bottom: 1px;
  margin-left: 175px;
  color: rgb(236, 66, 66);
  width: 20%;
  cursor: $selectCursor;
  text-align: center;

  &:hover {
    @include hover($white, rgb(41, 38, 38), 1px solid white);
    transition:  background 0.5s linear, color 0.2s linear;
    border-radius: 3px;
  }
}

.books-header {
  text-align: center;
}