@import 'Mixins.scss';

$bgColor: rgb(41, 38, 38);
$aColor: rgb(236, 66, 66);
$selectCursor: pointer;
$white: white;

// Whole Page Elements

* {
  margin: 0;
  background: $bgColor;
  font-family: Georgia, sans-serif;
}

.book-root {
  width: 100%;
  height: 597px;
  display: flex;
}

// First Column

.first-column {
    width: 25%;
    max-width: 1200px;
}

.first-column-header {
    width: 100%;
    margin-top: 15px;

    text-align: center;
    
    text-transform: uppercase;
    color: $aColor;
}

.add-book {
    display: flex;

    width: 25%;
    position: absolute;
    top: 70px;

    align-items: center;
    flex-direction: column;

    input {
        @include input-field($white, 1px solid gray);
        @include size(25px, 75%);
        @include font(15px, 700);

        border-radius: 2px;
        color: $aColor;
      
        &:focus{
          outline: 0;
        }
    }

    button {
        @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
        @include font(13px, 700);
        @include size(34px, 40%);
      
        border-radius: 5px;
      
        &:focus{
          outline: 0;
        }
          
      
        &:hover {
          cursor: $selectCursor;
          @include hover($white, rgb(41, 38, 38), 2px solid white);
          transition:  background 0.5s linear, color 0.15s linear;
        }
    }
}

// Second Column

.second-column {
  width: 50%;
  max-width: 1200px;
  display: flex;
}

.second-column-header {
  width: 100%;
  height: 21px;
  max-width: 100%;
  margin-top: 15px;

  text-align: center;
    
  text-transform: uppercase;
  color: $aColor;
}

.search-root {
  display: flex;

  width: 50%;
  max-width: 100%;
  position: absolute;
  top: 70px;

  justify-content: center;

  input{
      @include input-field($white, 1px solid gray);
      @include size(25px, 50%);
      @include font(15px, 700);

      border-radius: 2px;
      color: $aColor;
    
      &:focus{
        outline: 0;
      }
  }
}

.library {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 50%;
  max-width: 100%;
  position: absolute;
  top: 130px;

  text-align: center;
  
  ol {
    list-style: none;
    padding-left: 0px;
  }
}

.library-book {
  @include font(20px, normal);
  color: rgb(236, 66, 66);

  width: 100%;
  max-width: 100%;
  margin-bottom: 8px;

  cursor: $selectCursor;

  &:hover {
    @include hover($white, rgb(41, 38, 38), 1px solid white);
    transition:  background 0.5s linear, color 0.2s linear;
    border-radius: 3px;
  }
}

// Third Column

.third-column {
  width: 25%;
  max-width: 100%;
  display: flex;
}

.third-column-header {
  width: 100%;
  height: 21px;
  max-width: 100%;
  margin-top: 15px;

  text-align: center;
    
  text-transform: uppercase;
  color: $aColor;
}

.loading {
  width: 25%;
  max-width: 100%;

  position: absolute;
  top: 75px;

  display: flex;
  align-items: center;
  flex-direction: column; 

  color: $aColor;
}

.selected-book {
  width: 25%;
  max-width: 100%;

  position: absolute;
  top: 75px;
  
  display: flex;
  align-items: center;
  flex-direction: column;

  color: $aColor;

    p {
      font-style: oblique;
      color: gray;
    }

    h4 {
      color: $aColor;
      margin: 10px 0;
      font-size: 20px;
    }

    button {
        @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
        @include font(13px, 700);
        @include size(34px, 45%);

        border-radius: 5px;
        margin: 10px 0px;

        &:focus{
          outline: 0;
        }
        
        &:hover {
          cursor: $selectCursor;
          @include hover($white, rgb(41, 38, 38), 2px solid white);
          transition:  background 0.5s linear, color 0.15s linear;
        }
    }
}

.selected-book-edit {
  width: 25%;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 75px;
  color: $aColor;

  p {
    font-style: oblique;
    color: gray;
  }

  input {
    margin-top: 10px;

    @include input-field($white, 1px solid gray);
    @include size(25px, 65%);
    @include font(15px, 700);

    border-radius: 2px;
    color: $aColor;

    &:focus{
      outline: 0;
    }
  }

  button {
        @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
        @include font(13px, 700);
        @include size(34px, 40%);
    
        border-radius: 5px;
        margin-top: 30px;
    
        &:focus{
          outline: 0;
        }
        
    
        &:hover {
          cursor: $selectCursor;
          @include hover($white, rgb(41, 38, 38), 2px solid white);
          transition:  background 0.5s linear, color 0.15s linear;
        }
  }
}

@media(max-width: 380px){
  .add-book {
    button {
        @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
        @include font(13px, 700);
        @include size(34px, 50%);
      
        border-radius: 5px;
      
        &:focus{
          outline: 0;
        }
          
      
        &:hover {
          @include hover(darken($white, 80), $aColor, 2px solid lighten($bgColor, 10));
        }
    }
  }

  .selected-book { 
      button {
          @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
          @include font(13px, 700);
          @include size(34px, 65%);
  
          border-radius: 5px;
          margin: 10px 0px;
  
          &:focus{
            outline: 0;
          }
          
          &:hover {
            @include hover(darken($white, 80), $aColor, 2px solid lighten($bgColor, 10));
          }
      }
  }

  .selected-book-edit {  
    button {
          @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
          @include font(13px, 700);
          @include size(auto, 80%);
      
          border-radius: 5px;
          margin-top: 20px;
      
          &:focus{
            outline: 0;
          }
          
      
          &:hover {
            @include hover(darken($white, 80), $aColor, 2px solid lighten($bgColor, 10));
          }
    }
  }
}

@media(max-width: 420px){
  .add-book {
    button {
        @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
        @include font(13px, 700);
        @include size(34px, 50%);
      
        border-radius: 5px;
      
        &:focus{
          outline: 0;
        }
          
      
        &:hover {
          @include hover(darken($white, 80), $aColor, 2px solid lighten($bgColor, 10));
        }
    }
  }

  .selected-book { 
    button {
        @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
        @include font(13px, 700);
        @include size(34px, 65%);

        border-radius: 5px;
        margin: 10px 0px;

        &:focus{
          outline: 0;
        }
        
        &:hover {
          @include hover(darken($white, 80), $aColor, 2px solid lighten($bgColor, 10));
        }
    }
  }

  .selected-book-edit {  
    button {
          @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
          @include font(13px, 700);
          @include size(auto, 80%);
      
          border-radius: 5px;
          margin-top: 20px;
      
          &:focus{
            outline: 0;
          }
          
      
          &:hover {
            @include hover(darken($white, 80), $aColor, 2px solid lighten($bgColor, 10));
          }
    }
  }
}

@media(max-width: 1030px){
  .add-book {
    button {
        @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
        @include font(13px, 700);
        @include size(34px, 50%);
      
        border-radius: 5px;
      
        &:focus{
          outline: 0;
        }
          
      
        &:hover {
          @include hover(darken($white, 80), $aColor, 2px solid lighten($bgColor, 10));
        }
    }
  }

  .selected-book { 
    button {
        @include button($aColor, darken($white, 80), 2px solid lighten($bgColor, 10));  
        @include font(13px, 700);
        @include size(34px, 65%);

        border-radius: 5px;
        margin: 10px 0px;

        &:focus{
          outline: 0;
        }
        
        &:hover {
          @include hover(darken($white, 80), $aColor, 2px solid lighten($bgColor, 10));
        }
    }
  }

  .selected-book-edit {  
    button {
        @include size(34px, 60%);
      
        &:hover {
          @include hover(darken($white, 80), $aColor, 2px solid lighten($bgColor, 10));
        }
    }
  }
}